.navbarBot {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: .17rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 1rem; */
    background-color: white;
    border-top: 1px solid var(--disabled);
}
.homebtn {
    font-size: 1.5rem;
    list-style: none;
    color: var(--text);
}