.card {
    width: 15em;
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* margin-block: 0.5rem; */
}
.card:hover {
    box-shadow: 0 0 5px 5px var(--label);
}
/* .card-image {
    width: 100%;
} */
.card-text-container {
    /* height: 200px; */
    /* position: relative; */
}
.card-text {
    /* position: absolute; */
    width: 100%;
    display: flex;
    /* opacity: 1; */
    flex-direction: column;
    align-items: center;
    white-space: break-spaces;
    text-align: center;
}
.card-text p {
    margin: 0.3rem 0;
}
.card-text-label {
    color: var(--text);
}
.card-text-description {
    color: var(--label);
}
.card-text-price {
    color: var(--text);
}
.qac-btn {
    text-decoration: none;
    width: 100%;
    padding-block: 0.5rem;
    color: #f2f2f2;
    background-color: var(--highlight);
    border: none;
    margin: 0.356rem;
}
.qac-btn:hover {
    background-color: var(--highlight-dim);
    cursor: pointer;
}
.card-text-hidden {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* position: absolute; */
    /* opacity: 0; */
}
/* .card-text-hidden:hover {
    display: flex;
} */
.card-text-hidden-price {
    margin: 0.356rem 0;
}
.card-add-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.add-options-item {
    padding: 5px;
    background-color: var(--disabled);
    border: 1px solid transparent;
}
.add-options-item:hover {
    border: 1px solid var(--text);
}
.hidden {
    display: none;
    /* opacity: 0; */
}
.notHidden {
    display: flex;
    /* opacity: 1; */
}
