body {
  margin: 0px;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
:root {
  --text: #565360;
  --label: #908e9b;
  --disabled: #e1dfe9;
  --highlight: #3cc47c;
  --highlight-dim: #309e63;
}

a {
  color: var(--highlight);
}
a:hover{
  color: var(--highlight-dim);
}
/* navbar ======================================================== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--disabled);
  position: relative;
}
.navbar-left{
  display: flex;
  align-items: center;
}
.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 0.5rem;
}
.nav-logo {
  font-size: 30px;
  margin: 1rem;
  color: var(--text);
  text-decoration: none;
}
.nav-navigation {
  display: flex;
  list-style: none;
  color: var(--text);
}
.nav-navigation:hover {
  color: var(--disabled);
}
.navigation-control {
  display: none;
}
@media (max-width : 600px) {
  .nav-right {
    display: none;
  }
  .navigation-control {
    display: flex;
  }
  .nav-navigation-wrapper {
    display: none;
    background-color: white;
    /* flex-direction: column; */
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    top: 53px;
  }
  .nav-navigation {
    margin: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .dropdown {
    width: min-content;
  }
}
/* nav Item component =========== */
.dropbtn {
  border: 1px solid transparent;
  margin: 5px 0.5rem;
  color: var(--label);
  text-decoration: none;
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1rem;
  justify-content: space-around;
  border-bottom: 2px solid var(--highlight);
}
.drop-content-left {
  border-right: 1px solid var(--label);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
}
.drop-content-left div {
  display: flex;
  flex-direction: column;
  margin: 0rem 0.7rem;
}
.drop-content-mid {
  display: flex;
  /* flex-direction: column; */
  /* width: 400px; */
  /* align-items: center; */
  justify-content: center;
}
.drop-content-mid div {
  display: flex;
  flex-direction: column;
  margin: 0rem 0.7rem;
}
.drop-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drop-content-right img {
  width: 60%;
}
.drop-content-item {
  margin-bottom: 0.3rem;
  color: var(--text);
  /* padding: 12px 16px; */
  text-decoration: none;
  border: 1px solid transparent;
  width: fit-content;
}

.drop-content-item:hover {
  color: var(--text);
  border-bottom: 1px solid #252525;
}
.dropdown:hover .dropdown-content {
  display: flex;
}
.dropdown:hover .dropbtn {
  cursor: pointer;
  font-weight: 400;
  color: var(--text);
  border-bottom: 1px solid #252525;
}
.nav-item-label {
  color: var(--label);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1rem;
}


/* home page================= */
.link-text {
  color: var(--label);
  font-weight: 500;
  text-decoration: none;
}
.link-text:hover {
  cursor: pointer;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-block: 1rem; */
}
.home-first-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-second-section {
  width: 100%;
  /* background-color: rgba(0,0,0,0.2); */
  margin: 2rem 0rem;
}
.home-third-section {
  margin-inline: 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.home-fourth-section {
  width: 100%;
  /* background-color: rgba(0,0,0,0.2); */
  margin: 2rem 0rem;
}

.home-fith-section {
  margin-inline: 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* woman page might rename if code gets reused============== */
.woman-page-header {
  text-align: center;
  margin-block: 0.7rem;
}
.woman-page-body {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}
/* the left side // the filters */
.category-filter-container {
  /* background-color: rgba(0,0,0,0.1); */
  width: 25%;
  padding-inline-start: 1.8rem;
}
.active-filters {
  display: block;
}
.active-filters-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--label);
}
.active-filters-body {
  padding: 0.3rem;
}

/* .designer-filters {
  
} */
.designer-filters-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--label);
}
.designer-filters-body {
  display: none;
}
.designer-filters-search {
  display: flex;
}
.designer-filters-search-results {
  padding: 0.3rem;
}

.category-filters-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--label);
}
.category-filters-body {
  display: none;
  padding: 0.3rem;
}

.size-filters-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--label);
}
.size-filters-body {
  display: none;
}

.color-filters-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--label);
}
.color-filters-body {
  display: none;
}

.price-filters-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--label);
}
.price-filters-body {
  display: none;
}

/* all open/close icon css */
.designer-plus {
  display: block;
}
.designer-minus {
  display: none;
}
.category-plus {
  display: block;
}
.category-minus {
  display: none;
}
.size-plus {
  display: block;
}
.size-minus {
  display: none;
}
.color-plus {
  display: block;
}
.color-minus {
  display: none;
}
.price-plus {
  display: block;
}
.price-minus {
  display: none;
}

.close-filters {
  display: none;
}
.open-filters {
  display: block;
}

/* the right side of the page \\ diplay all 
   items in cards with a load more items at the end
*/
.category-filter-results-container {
  width: 75%;
  padding-inline-start: 1.7rem;
}
.results-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--label);
  margin-block-end: 0.356rem;
}
.filter-results-card-container {
  display: flex;
  gap: 2.56rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  color: var(--disabled);
}
.header-link:hover {
  color: var(--label);
}
.header-link-span{
  color: var(--disabled);
}
.header-text {
  font-size: 2rem;
  color: var(--text);
  margin: 0;
}




.d-flex {
  display: flex !important;
}